*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
ul, li {  
   list-style-type: none;  
}  



.wrapper{
   position: relative;
   width: 100%;
   min-height: 100vh;
   height:100vh;
   background: linear-gradient(45deg, rgb(212, 89, 32), rgb(146, 201, 4));
   overflow-x: hidden;
}

.content input{
   visibility: hidden;
   display: none;
}

.content .brands{
   position: absolute;
   top: 50px;
   left: 50%;
   transform: translateX(-50%);
   display: flex;
   gap: 50px;
   z-index: 100;
   -webkit-transform: translateX(-50%);
   -moz-transform: translateX(-50%);
   -ms-transform: translateX(-50%);
   -o-transform: translateX(-50%);
}

.brands label{
   width: 160px;
   height: 50px;
   background-color: #fff;
   opacity: 0.5;
   border-radius: 10px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -ms-border-radius: 10px;
   -o-border-radius: 10px;
   cursor: pointer;
   transition: 0.5s;
   -webkit-transition: 0.5s;
   -moz-transition: 0.5s;
   -ms-transition: 0.5s;
   -o-transition: 0.5s;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 24px;
   font-weight: 700;
   letter-spacing: 2px;
   color: rgb(12, 110, 114);
}


.content input:nth-child(1):checked ~ .brands label:nth-child(1),
.content input:nth-child(2):checked ~ .brands label:nth-child(2){
   opacity: 1;
   letter-spacing: 3px;
   
}

.slides h2{
   max-width: 200px;
   height: auto;
   margin: 15px auto 15px;
   text-align: center;
}

.slides h2 img{
   fill: 100%;
  width: 100%; 
  height: auto;
  font-size: 0;
}

.content .slides{
   position: relative;
   width: 200vw;
   display: flex;
   transition: 0.2s;
   -webkit-transition: 0.2s;
   -moz-transition: 0.2s;
   -ms-transition: 0.2s;
   -o-transition: 0.2s;
}

.slides .slide{
   position: relative;
   width: 100vw;
   height: 100vh;
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: start;
   margin-top: 150px;
}

.selectes{
   margin-bottom: 30px;
}


 .slides .selectes{
   display: flex;
   gap: 20px;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}

.selectes-item button{
   font-size: 12px;
   padding: 5px;
   text-transform: uppercase;
   font-weight: 600;
   border: 3px solid white;
   color: whitesmoke;
   background: linear-gradient(90deg, rgb(160, 49, 9), rgba(168, 8, 8, 0.69));
   border-radius: 10px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -ms-border-radius: 10px;
   -o-border-radius: 10px;
   width: 160px;
   height: 60px;
   line-height: 1.5;
   letter-spacing: 1px;
   cursor: pointer;
}
.selectes-item{
   position: relative;
}

.selectes-item button:hover{
   color: black;
   background: white;
   border: 4px solid rgb(161, 68, 59);
}

.selectes-item ul{
   position: absolute;
   top: 130%;
   left: -20%;
   min-width: 270px;
   max-height: 600px;
   background-color: white;
   font-size: 16px;
   text-transform: uppercase;
   font-weight: 500;
   letter-spacing: 1px;
   overflow-y: auto;
   z-index: 101;
   display: none;
}
.selectes-item ul li{
   padding-left: 10px;
   line-height: 1.5;
   cursor: pointer;
}
.selectes-item ul li:nth-child(even){
   background-color: grey;
}
.selectes-item ul.active{
   display: block;
}

.slides .slide:nth-child(1){
   background: linear-gradient(90deg, rgb(176, 67, 16), rgb(189, 154, 14));
}
.slides .slide:nth-child(2){
   background: linear-gradient(90deg, rgb(4, 103, 77), rgb(121, 99, 11));
}

.content input:nth-child(1):checked ~ .slides{
   left: 0;
}
.content input:nth-child(2):checked ~ .slides{
   left: -100vw;
}
.slide-content{
   padding: 0 10px;
}

.goods{
   display: flex;
   justify-content: space-between;
   padding: 0 67px;
   align-items: start;
}


.goods-list{
   flex: 1 0 50%;
   flex-wrap: wrap;
   display: flex;
   justify-content: start;
   gap: 3px;
}

.goods-list li{
   min-width: 400px;
   font-size: 15px;
   line-height: 1.4;
   position: relative;
   cursor: pointer;
   display: flex;
   justify-content: space-between;
   column-gap: 10px;
   align-items: center;
   color: rgb(51, 7, 5);
   font-weight: 600;
   border: 3px solid white;
   letter-spacing: 0.5px;
   text-transform: uppercase;
}
.goods-list li span{
   display: inline-block;
   background: linear-gradient(90deg, rgb(219, 197, 110), rgb(238, 241, 47));
   padding: 0 3px;
}
.goods-list li input{
   color: rgb(192, 17, 17);
   font-weight: 600;
   font-size: 16px;
   max-width: 40px;
   text-align: center;
   background: transparent;
   border: none;
}

.goods-list li:nth-child(odd){
   background-color: #b7b7b7;
}
.goods-list li:nth-child(even){
   background-color: #eed7cf;
}

.result{
   flex: 0 0 460px;
   background: linear-gradient(90deg, rgb(141, 121, 38), rgb(224, 227, 25));
   color: azure;
   font-size: 18px;
   padding: 10px;
}
.result-list li{
   line-height: 1.7;
   position: relative;
}
.result-list li span:nth-child(1){
   position: absolute;
   top: 3px;
   right: 22%;
   color: white;
   font-weight: 700;
   font-size: 17px;
   display: inline-block;
   background-color:  rgba(168, 8, 8, 0.69);
   width: 27px;
   height: 24px;
   text-align: center;
   border-radius: 50%;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -ms-border-radius: 50%;
   -o-border-radius: 50%;
   line-height: 1.45;
}

.result-list li span:nth-child(2){
   position: absolute;
   top: 0;
   right: 0;
   color: rgb(17, 107, 83);
   font-size: 20px;
   font-weight: 700;
   text-transform: uppercase;
}
.result-list li::after{
   content: '';
   border-bottom: 1px solid azure;
   width: 100%;
   position: absolute;
   left: 0;
   bottom: 0;
}
.result-list{

margin-bottom: 20px;
}

.goods-list input{
   max-width: 100px;
   display: inline-block;
   visibility: visible;
   position: absolute;
   right: 0;
   height: 100%;
}
.result-bottom{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.result-bottom div{
   font-size: 24px;
   text-transform: uppercase;
}
.result-bottom span{
   color: rgb(70, 131, 13);
   font-size: 28px;
   padding-left: 20px;
   font-weight: 700;
}
.btns{
   margin-top: 50px;
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   -webkit-transform: translateX(-50%);
   -moz-transform: translateX(-50%);
   -ms-transform: translateX(-50%);
   -o-transform: translateX(-50%);
   display: flex;
   justify-content: center;
   gap: 80px;
}

.btn{
   font-size: 24px;
   padding: 5px 20px;
   letter-spacing: 3px;
   cursor: pointer;
   border-radius: 20px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   -ms-border-radius: 20px;
   -o-border-radius: 20px;
   text-transform: uppercase;
}
.btn-clear{
   background: linear-gradient(90deg, rgb(65, 140, 167), rgb(2, 81, 118));
   color: white;
   border: 3px solid white;
}
.btn-dowland{
   background: linear-gradient(90deg, rgb(226, 5, 5), rgb(215, 124, 11));
   color: white;
   border: 3px solid white;
}
@media(max-width: 1281px){
   .content .brands{
      top: 35px;
   }
   
}

@media(max-width: 1281px){
   .selectes-item ul{
      left: -15%;
      font-size: 14px;
      min-width: 200px;
   }
}

@media(max-width: 1281px){
   .slides .slide{
      margin-top: 120px;
   }
}

@media(max-width: 1281px){
   .goods{
      padding: 0 40px;
   }
}

@media(max-width: 1281px){
   .goods-list li{
      min-width: 350px;
      font-size: 12px;
   }
}

@media(max-width: 1281px){
   .goods-list li input{
      font-size: 14px;
   }
}

@media(max-width: 1281px){
   .result{
      flex: 0 0 420px;
      font-size: 16px;
   }
}
@media(max-width: 1281px){
   .result li{
     line-height: 1.8;
   }
}

@media(max-width: 1281px){
   .result-list li span:nth-child(1){
      width: 25px;
      height: 22px;
      font-size: 15px;
      right: 20%;
   }
}
@media(max-width: 1281px){
   .result-list li span:nth-child(2){ 
      font-size: 18px;
   }
}
@media(max-width: 1281px){
   .result-bottom div{
      font-size: 20px; 
   }
}

@media(max-width: 1281px){
   .result-bottom span{ 
      font-size: 24px;
   }
}
